<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Estado Maquina ...</title>
</head>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<style>
    body{
        margin: 0;
        padding: 0;
    }
    div.scrollmenu {
        background-color: #333;
        overflow: auto;
        white-space: nowrap;
        width: 100%;
        text-align: center;
    }
    div.scrollmenu a {
        display: inline-block;
        color: white;
        padding: 30px 14px;
        text-decoration: none;
        font-size: 18px;
        font-family: "Lato", Sans-serif;
        font-weight: 50;
        font-style: normal;
    }

    /*Estilos Tabla SSH*/
    .contenerdor-btn .Open-TableSSH{
        background-color: white;
        border: white;
        transition: all .2s ease;
        cursor: pointer;
    }
    .contenerdor-btn .Open-TableSSH:hover{
        background-color: rgba(250, 17, 17, 0.781);
    }
    .Table-DataSSH{
        background: white;
        width: 100%;
        border: 1px solid #ddd;
        max-width: 686px;
        padding: 30px 30px 30px 30px;
        border-radius: 10px;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .3s ease-out;
        margin: auto;
    }
    .Table-DataSSH.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin: auto;
        top: 33px;
    }

    /*Estilos Tabla CPU*/
    .contenerdor-btn .Open-TableCPU{
        background-color: white;
        border: white;
        transition: all .2s ease;
        cursor: pointer;
    }
    .contenerdor-btn .Open-TableCPU:hover{
        background-color: rgba(250, 17, 17, 0.781);
    }
    .Table-DataCPU{
        background: white;
        width: 100%;
        border: 1px solid #ddd;
        max-width: 686px;
        padding: 30px 30px 30px 30px;
        border-radius: 10px;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .3s ease-out;
        top: -95px;
        margin: auto;
    }
    .Table-DataCPU.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin: auto;
    }
    /*Estilos Tabla MEMORIA*/
    .contenerdor-btn .Open-TableMEM{
        background-color: white;
        border: white;
        transition: all .2s ease;
        cursor: pointer;
    }
    .contenerdor-btn .Open-TableMEM:hover{
        background-color: rgba(250, 17, 17, 0.781);
    }
    .Table-DataMEM{
        background: white;
        width: 100%;
        border: 1px solid #ddd;
        max-width: 686px;
        padding: 30px 30px 30px 30px;
        border-radius: 10px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .3s ease-out;
        margin: auto;
    }
    .Table-DataMEM.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin: auto;
    }
    /*Estilos Tabla SWAP*/
    .contenerdor-btn .Open-TableSWAP{
        background-color: white;
        border: white;
        transition: all .2s ease;
        cursor: pointer;
    }
    .contenerdor-btn .Open-TableSWAP:hover{
        background-color: rgba(250, 17, 17, 0.781);
    }
    .Table-DataSWAP{
        background: white;
        width: 100%;
        border: 1px solid #ddd;
        max-width: 686px;
        padding: 30px 30px 30px 30px;
        border-radius: 10px;
        position: relative;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .3s ease-out;
        top: -279px;
        margin: auto;
    }
    .Table-DataSWAP.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin: auto;
    }
    /*Estilos Tabla FileSystem*/
    .contenerdor-btn .Open-TableFS{
        background-color: white;
        border: white;
        transition: all .2s ease;
        cursor: pointer;
    }
    .contenerdor-btn .Open-TableFS:hover{
        background-color: rgba(250, 17, 17, 0.781);
    }
    .Table-DataFS{
        background: white;
        width: 100%;
        border: 1px solid #ddd;
        max-width: 686px;
        padding: 30px 30px 30px 30px;
        border-radius: 10px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .3s ease-out;
    }
    .Table-DataFS.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin: auto;
    }
    /*Estilos Tabla ALL*/
    .contenerdor-btn .Open-TableALL{
        background-color: white;
        border: white;
        transition: all .2s ease;
        cursor: pointer;
    }
    .contenerdor-btn .Open-TableALL:hover{
        background-color: rgba(250, 17, 17, 0.781);
    }
    .Table-DataALL{
        background: white;
        width: 100%;
        border: 1px solid #ddd;
        max-width: 686px;
        padding: 30px 30px 30px 30px;
        border-radius: 10px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: clip-path .3s ease-out;
        margin: auto;
    }
    .Table-DataALL.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        margin: auto;
    }
    .tabla{
        border-collapse: collapse;
        text-align: center;
        margin: auto;
        position: relative;
        top: 30px;
    }
    .tabla th, td{
        border: 1px solid #ddd;
        padding: 10px 17px;
    }
    .HeadTable{
        background-color: rgba(250, 17, 17, 0.781);
    }
    .MEM{
        position: absolute;
        top: 230px;
        margin-left: 320px;
    }
    .FS{
        position: absolute;
        top: 230px;
        margin-left: 320px;
        width: 700px;
    }
    .ALL{
        position: absolute;
        top: 230px;
        margin-left: 340px;
    }
    .RED{
        background-color: rgba(250, 17, 17, 0.781);
    }
    .YELLOW{
        background-color: yellow;
    }
    .GREEN{
        background-color: rgb(70, 208, 22);
    }
</style>
<body>
    <div class="scrollmenu">
        <a>Reporte de Estado - Maquina</a>
    </div>
    <div class="contenedor-tabla">
        <table class="tabla">
            <tbody>
                <tr>
                    <th colspan="6" class="HeadTable">
                        <p>Servidor: {{ ansible_env.COMPUTERNAME }}</p>
                    </th>
                </tr>
                <tr>
                    <td>Tipo:</td>
                    <td>{{ ansible_os_name }}</td>
                    <td>Ultimo Reinicio:</td>
                    <td>{{ ansible_lastboot }}</td>
                    <td>Estado</td>
                    <td class="State">Status</td>
                </tr>
                <tr>
                    <td> 
                        <div class="contenerdor-btn">
                            <button class="Open-TableSSH" id="Open-TableSSH">RDP</button>
                        </div>
                    </td>
                    <td class="StateCPU"> 
                        <div class="contenerdor-btn">
                            <button class="Open-TableCPU" id="Open-TableCPU">CPU</button>
                        </div>
                    </td>
                    <td class="StateMEM"> 
                        <div class="contenerdor-btn">
                            <button class="Open-TableMEM" id="Open-TableMEM">Memoria</button>
                        </div>
                    </td>
                    <td class="StateDS"> 
                        <div class="contenerdor-btn">
                            <button class="Open-TableFS" id="Open-TableFS">Discos Duros</button>
                        </div>
                    </td>
                    <td colspan="2"> 
                        <div class="contenerdor-btn">
                            <button class="Open-TableALL" id="Open-TableALL">Mostrar Todo</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <table class="Table-DataSSH" id="Table-DataSSH">
                        <tbody>
                            <tr>
                                <th colspan="4" >Estado Servicio RDP</th>
                            </tr>
                            <tr>
                                <td>Conectividad:</td>
                                <td>False</td>
                                <td>Estado RDP:</td>
                                <td class="State_RDP State_RDP1">{{ RDP.stdout }}</td>
                            </tr>
                        </tbody>
                    </table>
                        <table class="Table-DataCPU" id="Table-DataCPU">
                            <tbody>
                                <tr>
                                    <th colspan="6" >Consumo CPU</th>
                                </tr>
                                <tr>
                                    <td>Porcentaje de Uso:</td>
                                    <td class="Porcent_CPU">{{ Percentage_CPU.stdout }}</td>
                                    <td>Estado</td>
                                    <td class="State_CPU"></td>
                                </tr>
                                <tr>
                                    <td>PID</td>
                                    <td>Proceso</td>
                                    <td>Usuario</td>
                                    <td>Consumo CPU</td>
                                </tr>
                                {{ Get_CPU.stdout }}
                        </table>
                    <div class="MEM">
                        <table class="Table-DataMEM" id="Table-DataMEM">
                            <tbody>
                                <tr>
                                    <th colspan="6">Consumo Memoria RAM</th>
                                </tr>
                                <tr>
                                    <td>Porcentaje de Uso:</td>
                                    <td class="Porcent_MEM">{{ Percentage_MEM.stdout }}</td>
                                    <td>Estado</td>
                                    <td class="State_MEM"></td>
                                </tr>
                                <tr>
                                    <td>PID</td>
                                    <td>Proceso</td>
                                    <td>Usuario</td>
                                    <td>Consumo MEM</td>
                                </tr>
                                {{ Get_MEM.stdout }}
                            </tbody>
                        </table>
                    </div>
                    <div class="FS">
                        <table class="Table-DataFS" id="Table-DataFS">

                            <tbody>
                                <tr>
                                    <th colspan="6" >Discos Duros</th>
                                </tr>
                                <tr>
                                    <td>Cantidad:</td>
                                    <td class="State-Disc">0</td>
                                    <td>Estado:</td>
                                    <td class="State-DiscF">0</td>
                                </tr>
                                <tr>
                                    <td>Disco</td>
                                    <td>Tamano</td>
                                    <td>%Uso</td>
                                    <td>%Disponible</td>
                                </tr>
                                {{ Get_Disc.stdout }}
                            </tbody>
                        </table>
                    </div>
                </tr>
                <tr>
                    <div class="ALL">
                        <table class="Table-DataALL" id="Table-DataALL">
                            <tbody>
                                <tr>
                                    <th colspan="6" style="font-size: 22px";>Reporte de Estado</th>
                                </tr>
                                <tr>
                                    <th colspan="4" >Estado Servicio RDP</th>
                                </tr>
                                <tr>
                                    <td>Conectividad:</td>
                                    <td>False</td>
                                    <td>Estado RDP:</td>
                                    <td class="State_RDP">{{ RDP.stdout }}</td>
                                </tr>
                                <tr>
                                    <th colspan="6" >Consumo CPU</th>
                                </tr>
                                <tr>
                                    <th colspan="6" style="background-color: white;border-color: white;border-top-style: dashed;"></th>
                                </tr>
                                <tr>
                                    <td>Porcentaje de Uso:</td>
                                    <td>{{ Percentage_CPU.stdout }}</td>
                                    <td>Estado</td>
                                    <td class="State_CPU"></td>
                                </tr>
                                <tr>
                                    <td>PID</td>
                                    <td>Proceso</td>
                                    <td>Usuario</td>
                                    <td>Consumo CPU</td>
                                </tr>
                                {{ Get_CPU.stdout }}
                                <tr>
                                    <th colspan="6" style="background-color:white;border-color: white;border-top-style: dashed;"></th>
                                </tr>
                                <tr>
                                    <th colspan="6">Consumo Memoria RAM</th>
                                </tr>
                                <tr>
                                    <th colspan="6" style="background-color:white;border-color: white;border-top-style: dashed;"></th>
                                </tr>
                                <tr>
                                    <td>PID</td>
                                    <td>Proceso</td>
                                    <td>Usuario</td>
                                    <td>Consumo MEM</td>
                                </tr>
                                <tr>
                                    <td>Porcentaje de Uso:</td>
                                    <td>{{ Percentage_MEM.stdout }}</td>
                                    <td>Estado</td>
                                    <td class="State_MEM"></td>
                                </tr>
                                {{ Get_MEM.stdout }}
                                <tr>
                                    <th colspan="6" style="background-color:white;border-color: white;border-top-style: dashed;"></th>
                                </tr>
                                <tr>
                                    <th colspan="6" >Discos Duros</th>
                                </tr>
                                <tr>
                                    <th colspan="6" style="background-color:white;border-color: white;border-top-style: dashed;"></th>
                                </tr>
                                <tr>
                                    <td>Cantidad:</td>
                                    <td class="State-Disc">0</td>
                                    <td>Estado:</td>
                                    <td class="State-DiscF">0</td>
                                </tr>
                                <tr>
                                    <td>Disco</td>
                                    <td>Tamano</td>
                                    <td>%Uso</td>
                                    <td>%Disponible</td>
                                </tr>
                                {{ Get_DiscAll.stdout }}
                            </tbody>
                        </table>
                    </div>
                </tr>
                </tbody>
            </table>
    </div>
    <script>
        var StateALL = 0
        var Count_Disc = $('.Disc'), State_Disc = $('.State-Disc');
        var Count_DiscS = 0;
        console.log(Count_Disc.toArray().length);
        (Count_Disc).each(function() {
            var value = ($(this).text());
            if (value >= 75) {
                Count_DiscS = (Count_DiscS + 1)
                $('.DiscAll').each(function() {
                   if ($(this).text() <= 75) {
                       $(this).parent().hide();
                   } 
                });
            }else{
                console.log('No hay saturacion, Tamano: ' + value)
                $('.DiscAll').each(function() {
                   if ($(this).text() <= 75) {
                       $(this).parent().hide();
                   } 
                });
            }
        });
        State_Disc.html(Count_DiscS)
        if (Count_DiscS > 0) {
            $('.State-Disc').attr('class','YELLOW')
            $('.StateDS').attr('class','YELLOW')
            $('.State-DiscF').attr('class','YELLOW')
            $('.State-DiscF').html('WARNING')
            StateALL = StateALL + 1;
        }else{
            $('.State-DiscF').html('OK')
            $('.State-DiscF').attr('class','GREEN')
        }
        var PCPU = $('.Porcent_CPU').text().replace(',', '.');
        console.log(PCPU)
        if (PCPU >= 80 && PCPU < 90) {
            $('.State_CPU').html('WARNING')
            $('.State_CPU').attr('class','YELLOW')
            $('.StateCPU').attr('class','YELLOW')
            StateALL = StateALL + 1;
        } else if (PCPU >= 90){
            $('.State_CPU').html('CRITICAL')
            $('.StateCPU').attr('class','RED')
            $('.State_CPU').attr('class','RED')
            StateALL = StateALL + 2;
        } else{
            $('.State_CPU').html('OK')
            $('.State_CPU').attr('class','GREEN')
            SCPU = 0;
            if (SCPU == 0) {
                $('.Table-DataALL tr:nth-child(8)').hide();
                $('.Table-DataALL tr:nth-child(9)').hide();
                $('.Table-DataALL tr:nth-child(10)').hide();
                $('.Table-DataALL tr:nth-child(11)').hide();
                $('.Table-DataALL tr:nth-child(12)').hide();
            }
        }

        var PMEM = $('.Porcent_MEM').text().replace(',', '.');
        console.log(PMEM)
        if (PMEM >= 70 && PMEM < 90) {
            $('.State_MEM').html('WARNING')
            $('.State_MEM').attr('class','YELLOW')
            $('.StateMEM').attr('class','YELLOW')
            StateALL = StateALL + 1;
        } else if (PMEM >= 90){
            $('.State_MEM').html('CRITICAL')
            $('.StateMEM').attr('class','RED')
            $('.State_MEM').attr('class','RED')
            StateALL = StateALL + 2;
        } else{
            $('.State_MEM').html('OK')
            $('.State_MEM').attr('class','GREEN')
            SMEM = 0;
            if (SMEM == 0) {
                $('.Table-DataALL tr:nth-child(18)').hide();
                $('.Table-DataALL tr:nth-child(19)').hide();
                $('.Table-DataALL tr:nth-child(20)').hide();
                $('.Table-DataALL tr:nth-child(21)').hide();
                $('.Table-DataALL tr:nth-child(22)').hide();
            }
        }

        console.log("Total: " + StateALL)

        if ( StateALL > 0 && StateALL <= 2) {
            $('.State').html('WARNING')
            $('.State').attr('class','YELLOW')
        }else if (StateALL >= 3) {
            $('.State').html('CRITICAL')
            $('.State').attr('class','RED')
        }else{
            $('.State').html('OK')
            $('.State').attr('class','GREEN')
        }
        var StateRDP = $('.State_RDP1').text().toLowerCase().replace('\n', '')
        if ( StateRDP == 'running') {
            $('.State_RDP').attr('class','GREEN')
        } else {
            $('.State_RDP').attr('class','RED')
        }
        const btnOpenTableSSH = document.querySelector('#Open-TableSSH'), TableSSH = document.querySelector('#Table-DataSSH'),
        btnOpenTableCPU = document.querySelector('#Open-TableCPU'), TableCPU = document.querySelector('#Table-DataCPU'),
        btnOpenTableMEM = document.querySelector('#Open-TableMEM'), TableMEM = document.querySelector('#Table-DataMEM'),
        btnOpenTableSWAP = document.querySelector('#Open-TableSWAP'), TableSWAP = document.querySelector('#Table-DataSWAP'),
        btnOpenTableFS = document.querySelector('#Open-TableFS'), TableFS = document.querySelector('#Table-DataFS'),
        btnOpenTableALL = document.querySelector('#Open-TableALL'), TableALL = document.querySelector('#Table-DataALL');
        
        btnOpenTableSSH.addEventListener('click',() => {
            TableSSH.classList.toggle('active');
            TableCPU.classList.remove('active');
            TableMEM.classList.remove('active');
            TableFS.classList.remove('active');
            TableALL.classList.remove('active');
        });
        btnOpenTableCPU.addEventListener('click',() => {
            TableCPU.classList.toggle('active');
            TableMEM.classList.remove('active');
            TableSSH.classList.remove('active');
 
            TableFS.classList.remove('active');
            TableALL.classList.remove('active');
        });
        btnOpenTableMEM.addEventListener('click',() => {
            TableMEM.classList.toggle('active');
            TableCPU.classList.remove('active');
            TableSSH.classList.remove('active');
 
            TableFS.classList.remove('active');
            TableALL.classList.remove('active');
        });
        btnOpenTableFS.addEventListener('click',() => {
            TableFS.classList.toggle('active');
            TableCPU.classList.remove('active');
            TableSSH.classList.remove('active');
 
            TableMEM.classList.remove('active');
            TableALL.classList.remove('active');
        });
        btnOpenTableALL.addEventListener('click',() => {
            TableALL.classList.toggle('active');
            TableCPU.classList.remove('active');
            TableMEM.classList.remove('active');
 
            TableFS.classList.remove('active');
            TableSSH.classList.remove('active');
        });
    </script>
</body>
</html>
